---
layout: default
title: Catatan Zen tentang Segala Fenomena Kehidupan
---

<div class="grid grid-cols-3 gap-2 <md:grid-cols-1 py-3">
	{% for x in paginator.posts %}
		<a href="{{ x.url }}">
			<img src="{{ x.image }}" alt="" class="rounded border w-full h-[150px] object-cover mb-3 block">
			<span class="bg-amber-300 rounded-xl inline-block text-dark-500 mb-3 py-1 px-3">{{ x.category }}</span>
			<p class="text-lg font-bold mb-3">{{ x.title }}</p>
		</a>
	{% endfor %}
</div>

{% if paginator.next_page %}
	<div class="flex justify-between">
		<div class=""></div>
		<a href="{{ paginator.next_page_path }}" class="border py-2 px-7 mb-9 rounded-3xl text-lime-500 border-lime-500 font-bold border-3">Selanjutnya &rarr;</a>
		<div class=""></div>
	</div>
{% endif %}