---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script data-ad-client="ca-pub-2408628281705149" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<link rel="stylesheet" href="/tools/windi.min.css">
	<script src="/tools/alpine.min.js" defer></script>

	<link rel="icon" href="/logo.png" />

	{% seo %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1JX0S4GPW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C1JX0S4GPW');
    </script>
    <script>var id = "c2d4924ab914ef4f70def555618625a7f4aac70f";</script>
	<script type="text/javascript" src="https://api.sosiago.id/js/tracking.js"></script>

	<style>
		* {
			word-wrap: break-word;
		}

		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<div class="px-[10%] flex justify-between items-center py-2 bg-lime-300 sticky top-0 z-2 <md:px-[5%]">
		<a href="/" class="">
			<img src="/logo.png" alt="" class="w-10">
		</a>

		<div class="" x-data='menuMobile()'>
			<div @click='isiMenu = true' class="md:hidden font-bold cursor-pointer select-none">Menu</div>
			<template x-if='isiMenu'>
				<div class="h-screen overflow-auto p-3 absolute w-full top-0 left-0 bg-light-500">
					<div class="text-5xl sticky top-0 cursor-pointer select-none text-right" @click='isiMenu = false'>&times;</div>
					<div class="prose max-w-none">
						{% assign menu = site.menu | sort: 'nama' %}
						{% for x in menu %}
							<h2>{{ x.nama }}</h2>
							{% assign anakMenu = x.link | sort: 'nama' %}
							<ol>
								{% for y in anakMenu %}
									<li><a href="{{ y.link }}" @click='isiMenu = false'>{{ y.nama }}</a></li>							
								{% endfor %}
							</ol>
						{% endfor %}
					</div>
				</div>
			</template>
		</div>

		<script>
			function menuMobile(){
				return {
					isiMenu: false
				}
			}
		</script>

		<div class="<md:hidden flex" x-data='dropdown()'>

			{% assign menu = site.menu | sort: 'nama' %}
			{% for x in menu %}
				<div class="relative">
					<div class="font-bold cursor-pointer inline-block ml-5 select-none" @click='menu.{{ x.nama | slugify }} = !menu.{{ x.nama | slugify }}'>{{ x.nama }}</div>

					{% assign anakMenu = x.link | sort: 'nama' %}
					<template x-if='menu.{{ x.nama | slugify }}'>
						<div class="absolute divide-y-2 mt-5 bg-lime-300 rounded">
							{% for y in anakMenu %}
								<a href="{{ y.link }}" class="block p-2 px-5">{{ y.nama }}</a>
							{% endfor %}
						</div>
					</template>
				</div>

			{% endfor %}

		</div>
		<script>
			function dropdown(){
				return {
					menu: {
						{% for x in menu %}
							{{ x.nama | slugify }}: false,
						{% endfor %}
					}
				}
			}
		</script>
	</div>

	<div class="px-[10%] grid grid-cols-6 <md:grid-cols-1 gap-3 <md:px-[5%]">
		<div class="col-span-4 <md:col-span-1">
			{{ content }}
		</div>
		<div class="<md:hidden col-span-2 <md:col-span-1 p-3">
			<h2 class="text-red-500 text-center my-3 text-3xl font-800">Random Articles</h2>

			{% assign n = site.posts | size %}
			{% assign posts = site.posts | sample: n %}
			{% for x in posts limit: 5 %}
				<a href="{{ x.url }}" class="mb-3 block">
					<div class="flex items-center">
						<img src="{{ x.image }}" alt="" class="w-20 h-20 mr-2 border rounded object-cover">
						<div class="">
							<p class="font-bold">{{ x.title }}</p>
						</div>
					</div>
				</a>
			{% endfor %}

			<h2 class="text-red-500 text-center my-3 pt-3 text-3xl font-800">Kategori</h2>
			<div class="divide-y-2">
				{% for x in site.categories %}
					<a href="/daftar-isi/#{{ x[0] | slugify }}" class="block py-2">{{ x[0] }}</a>
				{% endfor %}
			</div>

		</div>
	</div>
</body>
</html>
